<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/addNew.js"></script>
    <meta charset="UTF-8">
    <title>Genres</title>
</head>
<body>
<div class="container">
    <div class="component" th:each="genre : ${genres}">
        <img th:src="${genre.imageUrl}">
        <h3 th:text="${genre.name}"></h3>
    </div>
    <div class="addBtn" id="addBtn" onclick="addNew(this.id);">
        <text>+</text>
    </div>
    <div class="add"  id="addGenre" style="display:none;">
        <form action="/genres/add" method="post">
            <label for="name">Genre name</label><br>
            <input type="text" id="name" name="name" value=""><br>
            <label for="imageUrl">Genre image URL</label><br>
            <input type="text" id="imageUrl" name="imageUrl" value=""><br><br>
            <input type="submit" value="Add">
        </form>
    </div>
</div>
</body>
<script>
    document.getElementById("addBtn").addEventListener("click", function() {
        addNew("addGenre");
    });
</script>
</html>
